# Ignore all __pycache__ folders and .pyc files recursively
**/__pycache__/
**/*.pyc

# Ignore all egg-info directories
*.egg-info/
hyperbolicity.egg-info/

# Ignore all .DS_Store files
*.DS_Store

# Ignore all results, figures, launch files, and datasets
hyperbolicity/expes/results_expes/
hyperbolicity/expes/figures/
hyperbolicity/expes/launch_files/
hyperbolicity/datasets/

# Ignore specific notebooks and scripts
hyperbolicity/expes/figures/figure_Tree_fiitingGW.ipynb
hyperbolicity/expes/classification.ipynb
hyperbolicity/expes/single_cell_classification.ipynb
hyperbolicity/expes/single_cell.ipynb
hyperbolicity/tree_fitting_methods/hyperbolicity_learning_GW.py

# Exclude all files in datasets except D_celegan.pkl
hyperbolicity/datasets/*
!hyperbolicity/datasets/D_celegan.pkl
!hyperbolicity/datasets/D_csphd.pkl