# Ignore all __pycache__ folders and .pyc files recursively
**/__pycache__/
**/*.pyc

# Ignore all egg-info directories
*.egg-info/
hyperbolicity.egg-info/

# Ignore all .DS_Store files
*.DS_Store

*.ipynb
*.pkl
*.tex
results_expes/
datasets/