hyperbolicity.egg-info/*
*.pyc
/hyperbolicity/tree_fitting_methods/__pycache__/*.pyc
/hyperbolicity/expes/launch_files/*
*.DS_Store
/hyperbolicity/expes/results_expes/*
hyperbolicity/tree_fitting_methods/__pycache__/gromov.cpython-312.pyc
hyperbolicity/tree_fitting_methods/__pycache__/hccfit.cpython-312.pyc
hyperbolicity/tree_fitting_methods/__pycache__/neighbor_joining.cpython-312.pyc
hyperbolicity/tree_fitting_methods/__pycache__/treerep.cpython-312.pyc
